@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="side">
        Описание социальной сети
    </div>

    <div class="main">
        Блок регистрации
        Блок авторизации
    </div>

</div>
